:root {
  --backround-color: #383838;
  --color-button-header: #ffa000;
  --button-in-box: #0000;
  --button-text-white: #eeeeee;
  --button-text-black: #030303;
  --button-color-black: #000000;
}
body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.stop-scroll{
  overflow: hidden;
  margin-right: 15px;
}
.header {
  background-color: var(--backround-color);
}
.header_inner {
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
}
.header_button {
  width: 100px;
  height: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--button-text-black);
  background-color: var(--color-button-header);
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon {
  width: 40px;
  height: 40px;
}
.logo_text {
  font-size: 1.2rem;
}
.navigation {
  display: flex;
  gap: 10px;
  align-items: center;
}
.navigation__inner {
  display: flex;
  gap: 10px;
  margin-right: 10px;
}
.navigation__inner > li {
  cursor: pointer;
}

.burger{
  display: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  flex: 1;
}
.boxes {
  display: flex;
  justify-content: space-between;
  margin: 50px 100px;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.box_number {
  padding-bottom: 10px;
  font-size: 2rem;
}
.box_text {
  padding-bottom: 10px;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.box_text > li {
  padding-bottom: 10px;
}
.box_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin: 0 auto;
  height: 25px;
  background-color: var(--button-color-black);
  color: var(--button-text-white);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Дополнительные стили для слайда */
}

.description {
  margin: 0 auto;
}

.footer {
  text-align: center;
  color: var(--button-text-white);
  background-color: var(--backround-color);
  padding: 20px;
}

@media (max-width: 699px){
  .navigation {
    display: none;
  }
  .boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .box {
    margin-bottom: 50px;
  }
  .box_text {
    text-align: center;
  }
  
  .burger{
    display: block;
  }
  .burger_button{
    cursor: pointer;
    position: relative;
    top: 15px;
    z-index: 10;
  }
  .burger_icon {
    width: 30px;
    height: 2px;
    margin-bottom: 3px;
    background-color: black;
    border: 3px;
  }
  
  .burger_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 0px;
    height: 100%;
    position: absolute;
    background-color: rgb(128, 128, 128);
    font-size: 0px;
  }

  .show{
    width: 200px;
    font-size: 20px;
  }
  
  .burger_text{
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 3px;
  }

  .text_none{
    display: block;
  }
  
  .burger_text > a {
    text-decoration: none;
    color: var(--button-text-black);
  }
  .burger_text {
    transition: .3s;
  }
  .burger_text:hover{
    background-color: rgb(176, 175, 175);
  }
}